<form method="post" id="resetStory" action="/" class="inline">
  <input type="hidden" name="resetStory" form="resetStory" value=true>
  <button type="submit" form="resetStory" class="linkButton">
    Go Back to Start of Story
  </button>
</form>
